import typing
import enum

from vkbottle_types.base_model import BaseModel, Field
from vkbottle_types.responses.base_response import BaseResponse

### IMPORTS

{% for (name, definition) in definitions %}

{% if definition.get_response_definition().enum %}
{% set response_def = definition.get_response_definition() %}
{% if is_int(response_def.enum[0]) %}
class {{camelcase(name)}}Model(enum.IntEnum):
    {% for enumeration in response_def.enum %}{{makesafe(response_def.enumNames[loop.index-1])|upper}} = {{enumeration}}
    {% endfor %}
{% else %}
class {{camelcase(name)}}Model(enum.Enum):
    {% for enumeration in response_def.enum %}{{makesafe(enumeration|upper)}} = "{{enumeration}}"
    {% endfor %}
{% endif %}
{% endif %}

{% if definition.type == 'object' %}
class {{camelcase(name)}}({{", ".join(definition.get_bases(response=True))}}):
    {% if not definition.get_properties() %}
    pass
    {% else %}
    {% for property in definition.get_properties() %}
    {% if property.name == 'response' and definition.get_response_definition() %}
    response: '{{camelcase(name)}}Model' = Field(
        {% if property.required and property.default is not none %}
        default={{property.get_default_value(enum_name=camelcase(name) + 'Model')}}
        {% endif %}
    ){% elif property.name == 'response' and property.get_type(response=True) == 'dict' %}
    response: typing.Dict[str, typing.Any] = Field(){% else %}
    {{makesafe(property.name)}}: {{property.get_type(response=True)}} = Field(
        {% if property.is_optional %}
        default={{property.default if property.default is not none else None}},
        {% elif property.required and property.default is not none %}
        default={{property.default}}
        {% endif %}
        {% if makesafe(property.name) != property.name %}
        alias="{{property.name}}",
        {% endif %}
    ){% endif %}
    {% endfor %}
    {% endif %}
{% endif %}
{% endfor %}