[tool.poetry]
name = "vkbottle-types"
version = "0.1.23"
description = "Types for vkbottle"
authors = ["timoniq"]
license = "MIT"
packages = [
    { include = "vkbottle_types" }
]

[tool.poetry.dependencies]
python = "^3.7"
pydantic = "^1.6.1"

[tool.poetry.dev-dependencies]

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
