[tool.poetry]
name = "vkbottle-types"
version = "5.131.146.7"
description = "Types for vkbottle"
authors = ["timoniq", "FeeeeK"]
license = "MIT"
packages = [
    { include = "vkbottle_types" }
]

[tool.poetry.dependencies]
python = "^3.7.2"
pydantic = "^1.6.1"
vkbottle = "^4.3.5"

[tool.poetry.dev-dependencies]

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
